<h1 class="text-center my-4">Welcome to the Finance Tracker App</h1>

<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active rounded-lg main-img-1">
      <div class="carousel-caption d-none d-md-block">
        <h3 class="text-body mb-4"><strong>Improve Your Finance</strong></h3>
        <p class="text-body"><strong>Keep track of the Stock Market and make the right decisions.</strong></p>
      </div>
    </div>
    <div class="carousel-item rounded-lg main-img-2">
      <div class="carousel-caption d-none d-md-block">
        <h3 class="text-white mb-4"><strong>Your Own Up-To-Date Portfolio of Stocks</strong></h5>
        <p class="text-white"><strong>Finance Tracker App will update your stock prices each time you visit your portofolio.</strong></p>
      </div>
    </div>
    <div class="carousel-item rounded-lg main-img-3">
      <div class="carousel-caption d-none d-md-block">
        <h3 class="text-body mb-4"><strong>Let Friends Also Give You a Hand</strong></h3>
        <p class="text-body"><strong>Follow other users that might track stocks that could help you come up with new investment ideas.</strong></p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-target="#carouselExampleCaptions" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-target="#carouselExampleCaptions" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </button>
</div>
