@import 'bootstrap/dist/css/bootstrap';

.search-area {
  padding-top: 50px;
}

.no-right-padding {
  padding-right: 0 !important;
}

.no-left-padding {
  padding-left: 0 !important;
}

.results-block {
  display: inline-block;
  margin-bottom: 1rem;
}

.flash-results {
  display: inline-block;
}

.logout-button {
  margin-right: 5px;
}

.user-name {
  margin-top: 3.5%;
  padding-right: 5px;
}

/* Home Page Classes */

.main-img-1 {
  background-image: asset-url('markus-winkler-IrRbSND5EUc-unsplash.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
}

.main-img-2 {
  background-image: asset-url('maxim-hopman-fiXLQXAhCfk-unsplash.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
}

.main-img-3 {
  background-image: asset-url('scott-graham-5fNmWej4tAA-unsplash.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
}

/* Sticky Footer Classes */

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}
