<footer id="sticky-footer" class="flex-shrink-0 py-3 bg-light text-body">
  <div class="container text-center">
    <small>Web App developed by <%= link_to 'Matías Rodríguez', "https://github.com/mati-rodriguez80", class: "bg-light text-body" %> 
    | The Complete Ruby on Rails Developer Course | Udemy
    </small>
  </div>
</footer>
